@charset "ISO-8859-1";

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.flex a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    width: 100%;
    padding: 5px;
}

.side-bar, .mainlogo, .nav-bar {
    flex: 1;
}

.side-bar {
    padding-left: 5px;
    text-align: left;
}

.mainlogo {
    text-align: center;
}

.nav-bar {
    text-align: right;
    padding: 10px;
    padding-right: 20px;
}

.links a, #navicon, .icons {
    padding: 5px;
}

.links {
    padding-top: 15px;
}

#mainlogo {
    height: 85px;
    width: auto;
}

#navicon {
    height: 30px;
    width: 30px;
}

#icon {
    height: 20px;
    width: 20px;
}

/**The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

  /**The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
}

  /**When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

.flex a:hover {
    color: rgb(73, 73, 73);
}

  /**Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

  /**The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: white;
    border: none;
}

.openbtn:hover {
    background-color: #f1f1f1;
}

  /**Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

  /**On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}


/***Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

/**Hide the images by default */
.mySlides {
    display: none;
}

/**Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/**Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/**On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/**Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/**The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/**Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.center {
    text-align: center;
}

.spacing {
    letter-spacing: 3px;
}

.subtitle {
    margin-left: 70px;
}

#products {
    height: 250px;
    width: 250px;
}

.flex {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.sp-cent {
    justify-content:center;
}

.sp-btw {
    justify-content: space-between;
}

.box {
    border: 2px solid black;
    padding: 10px;
}

.marg-top {
    margin-top: 20px;
}

.marg-bottom {
    margin-bottom: 20px;
}

.marg-bottom-10 {
    margin-bottom: 10px;
}

.marg-right {
    margin-right: 20px;
}

.padding {
    padding: 5px;
}

#prod-image-l {
    height: 350px;
    width: 350px;
}

#prod-image-s {
    height: 70px;
    width: 70px;
}

.width {
    width: 500px;
}

.dash-box {
	border: 2px black solid;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 10px;
}

.left-box {
	height: 200px;
	width: 500px;
}

.right-box {
	height: 420px;
	width: 400px;
}

#small {
	height: 40px;
	width: 40px;
}